html,*{
  margin: 0;
  padding: 0;
}
body{
  background-color:#191b22;
  color: #fafafa;
  font-family: 'Yusei Magic', sans-serif;
  background: linear-gradient(0deg,rgb(15, 15, 15) 90%,#2d807a);
}


.App{
  margin: 0 auto;
  
  text-align: center;
  padding: 40px;
}

.movies-wrapper{
  padding: 20px;
  
  margin-top: 40px;
}

.movies-grid{
  padding: 20px;
 
  display: grid;
  grid-template-columns: repeat(auto-fit,330px);
  gap:45px;
  justify-content: center;
  align-items: center;
 
}
